In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [ ]:
df=pd.read_csv('mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [ ]:
for col in df.columns:
  print(f"{col} : {len(df[col].unique()): 3} labels")

X1 :  27 labels
X2 :  44 labels
X3 :   7 labels
X4 :   4 labels
X5 :  29 labels
X6 :  12 labels

In [ ]:
pd.get_dummies(df,drop_first=True).shape

(4209, 117)

### Just Onehot Encoding is a Horrible Idea. We have to be better than that.

##### We are going to perform onehot encoding for most frequent 10 of each category and remaining will be zero

In [ ]:
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [ ]:
mcx2=[x for x in df['X2'].value_counts().sort_values(ascending=False).head(10).index]
mcx2

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [ ]:
for label in mcx2:
  df[label]=np.where(df['X2']==label,1,0)

df[['X2']+mcx2].head(20)

##########  just trying some stuff out

In [ ]:
# s=datetime.datetime.now()
# mcx2=[x for x in df['X2'].value_counts().sort_values(ascending=False).head(10).index]

# df['z']=np.where(df['X2'] in mcx2,1,0)
# total=datetime.datetime.now()-s
# print(total)

# np.where('az' in mcx2,1,0)

In [ ]:
def one_hot_top(df,variable,top_xlabels):
  for label in top_xlabels:
    df[variable+'_'+label]=np.where(df[variable]==label,1,0)

df=pd.read_csv('mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])
one_hot_top(df,'X2',mcx2)
df.head()

In [ ]:
def one_hot_top_advanced(df):
  for variable in df.columns:
    top_xlabels= [x for x in df[variable].value_counts().sort_values(ascending=False).head(10).index]
    for label in top_xlabels:
      df[variable+'_'+label]=np.where(df[variable]==label,1,0)
    

df=pd.read_csv('mercedes.csv',usecols=['X1','X2','X3','X4','X5','X6'])
one_hot_top_advanced(df)
df.head()

  X1  X2 X3 X4 X5 X6  X1_aa  ...  X6_i  X6_l  X6_a  X6_h  X6_k  X6_c  X6_b
0  v  at  a  d  u  j      0  ...     0     0     0     0     0     0     0
1  t  av  e  d  y  l      0  ...     0     1     0     0     0     0     0
2  w   n  c  d  x  j      0  ...     0     0     0     0     0     0     0
3  t   n  f  d  x  l      0  ...     0     1     0     0     0     0     0
4  v   n  f  d  h  d      0  ...     0     0     0     0     0     0     0

[5 rows x 57 columns]